.page_container {
  max-width: 820px;
  margin: 60px auto 0;
  padding: 0 40px;
}

.page_title {
  font-size: 32px; 
  font-weight: 700; 
  color: var(--text-color);
  letter-spacing: 0.8px;
  padding-bottom: 20px;
}

/* give each Paragraph block a gray placeholder */
.pg_block[contenteditable]:empty:before,
.page_title[contenteditable]:empty:before { 
  content: attr(placeholder);
  transition: var(--transition-speed);
  cursor: text;
  color: var(--placeholder-color);
  opacity: 0.3;
}

/* remove blue focus outline around contentEditable blocks */
.pg_block[contenteditable]:focus,
.page_title[contenteditable]:focus {
  outline: none;
}

.pg_block {
  white-space: pre-wrap;
  padding-top: 4px;
  padding-left: 6px;
  line-height: 1.8em;
  color: var(--text-color);
  width: 100%;
}

.pg_block.checked{
  color: var(--placeholder-color);
  position: relative;
  text-decoration: line-through;
}

.checkbox {
  background-color: transparent;
  position: relative;
  border: 2px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 19px;
  height: 19px;
}

.checkbox.checked {
  background-color: var(--checked-to-do-bg-color);
  border-color: var(--checked-to-do-bg-color);
}

.checkbox.checked:after {
  content: '';
  position: absolute;
  display: block;
  width: 60%;
  height: 30%;
  margin: -2px 0 0 1px;
  background: transparent;
  border: 2px solid var(--white-color);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox:hover {
  filter: brightness(95%);
}

.to_do_div {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
}