html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:root {
  --text-color: #323232;
  --placeholder-color: #a7a7a7;
  --checked-to-do-bg-color: #29bdf7;
  --checkbox-hover-color: #ececec;
  --white-color: #ffffff;
  --border-color: #7a7a7a;
  --bg-color: #ffffff;
  --transition-speed: 0.3s;
}

:root.dark-mode {
  --text-color: #d9dee2;
  --checkbox-hover-color: #3f3f3f;
  --placeholder-color: #b9b9b9;
  --bg-color: #212121;
}

body {
  background-color: var(--bg-color);
  transition: var(--transition-speed);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 860px;
}

.dmt-nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px ;
}

.spacer {
  margin-bottom: 40px;
}